.container {
  min-width: 795px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  box-sizing: border-box;
}

h2 {
  margin: 30px 0 15px 0;
  color: #151515;
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.44px;
}

.secondary__text {
  color: rgba(21, 21, 21, 0.7);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  margin-bottom: 5px;
}

.title__text {
  color: #151515;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  margin-bottom: 5px;
}

.email {
  color: #00a2e2;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
}

.table__section__title {
  color: #151515;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.section__cell {
  border: 1px solid #d2d6e9;
  padding: 9px;
  text-align: left;
  background-color: #f3f5fb;
}

.cell__name {
  color: #151515;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.24px;
}

.cell__text {
  color: #5b5b5b;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
}

.cell__smaller__text {
  color: #5b5b5b;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
}

.secondary__cell {
  color: rgba(21, 21, 21, 0.7);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  padding-bottom: 3px;
}

.main__table {
  width: 100%;
  border-collapse: collapse;
}

.cell {
  border: 1px solid #d2d6e9;
  padding: 10px;
  vertical-align: top;
}

.main__cell {
  border: 1px solid #d2d6e9;
  padding: 9px;
  vertical-align: middle;
}

.secondary__table {
  border-collapse: collapse;
  width: auto;
}
